<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Catálogo Virtual
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list *ngFor="let produto of produtos">
    <a href="list_produtos/+{{produto.codigo}}">
  <ion-card>
      <ion-card-header>
        <ion-card-title>{{produto.nome}}</ion-card-title>
      </ion-card-header>
     <ion-img [src]="'http://identidadeimei.com/catalogo/php/img/img_produtos/'+produto.foto"></ion-img> 
     
     <ion-card-content>
        <p>{{produto.descricao}}</p>
      </ion-card-content>
      <ion-card-content>
        <p>R$: {{produto.valor}}</p>
      </ion-card-content>
      <ion-card-content>
        <p>Disponivel: {{produto.quantidade}} UND</p>
      </ion-card-content>
      

  </ion-card>
</a>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="danger" (click)="postarProduto()">
    <ion-icon name="appstore"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>